@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			background: #eaebed;
			height: auto;
}
.header {
			position: relative;
			width: 100%;
			height: 70px;
			background: #293855;
			top: -6px;
			display: flex;
			justify-content: center;
			align-items: center;
}
.header p {
			color: #f2ac20;
			font-size: 20px;
			font-weight: bold;
			margin-right: auto;
			padding-left: 10px;
}
.header p span {
			font-weight: bolder; 
			color: #3664f4;
}
.header .header-icon i {
			position: relative;
			right: 5px;			
			margin-right: auto;
			color: #fff;
			text-align: center;
			padding: 5px;
			font-size: 11px;
			border-radius: 50%;
			border: 2px solid  #3664f4;
}
.header .header-icon i:nth-child(5){
			border-radius: 47%;
}
.header .header-icon i:hover {
			box-shadow: 0px 0px 10px #fff;
}

#input {opacity: 0;transform: translate(-999px, -999px);}
#input:focus ~ .container {
			outline: 2px solid #1A8FE3;
}
.container {
			justify-content: center;
			display: flex;
			align-items: center;
			background: #193948;
			width: auto; 
			font-size: 23px;
			max-width: 730px;
			color: #fff;
			text-align: center;
			transform: translateY(100px);
			border-radius: 5px;
			margin: auto;
			box-shadow: 2px 8px 10px black;
}

/* character classlists*/
.correct {color: #f8d116;}
.incorrect {color: #f9004d;}
.active {
			position: relative;
			font-weight: 1000;
}
.active:after{
       position: absolute;
			content: '';
			width: 12px;
			height: 3px;
			left: 0;
			bottom: -4px;
			background-color: #1eb1f7;
}

.main {
			justify-content: space-between;
			display: flex;
			align-items: center;
			background-color: #337def;
			width: auto; 
			font-size: 15px;
			max-width: 530px;
			color: #fff;
			transform: translateY(125px);
			border-radius: 5px;
			margin: auto;
			box-shadow: 2px 7px 7px #211c53;
}
.main p {
			padding-left: 10px;
			font-weight: bold; 
}
.main p span {
			color: #193948;
}
.main button {
			outline: none;
			border: none;
			padding: 5px 15px;
			border-radius: 5px;
			margin-right: 10px;
			color: #fff;
			background: #193948;
}
/* keyboard stylesheet*/
figure.keyboard {
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -377px;
	margin-top: 160px;
	width: 751px;
	height: 305px;
	font-family: "Duru Sans", Arial, sans-serif;
	padding: 8px 10px;
	border: 1px solid rgb(160,160,160);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	box-shadow:
		0px 1px 0px rgb(140, 140, 140),
		0px 2px 0px rgb(130, 130, 130),
		0px 3px 0px rgb(125, 125, 125),
		0px 4px 0px rgb(150, 150, 150),
		0px 5px 0px rgb(100, 100, 100),
		0px -10px 40px rgba(0, 0, 0, 0.4);
	border-radius: 7px;
	background: rgb(239,239,239);
	background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/f0c1312/images/shared/noise-2.png'), -moz-linear-gradient(top, rgb(220,220,220) 0%, rgb(216,216,216) 95%, rgb(226,226,226) 100%);
	background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/f0c1312/images/shared/noise-2.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%rgb(220,220,220)), color-stop(95%,rgb(216,216,216)), color-stop(100%,rgb(226,226,226)));
	background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/f0c1312/images/shared/noise-2.png'), -webkit-linear-gradient(top, rgb(220,220,220) 0%,rgb(216,216,216) 95%,rgb(226,226,226) 100%);
	background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/f0c1312/images/shared/noise-2.png'), -o-linear-gradient(top, rgb(220,220,220) 0%,rgb(216,216,216) 95%,rgb(226,226,226) 100%);
	background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/f0c1312/images/shared/noise-2.png'), -ms-linear-gradient(top, rgb(220,220,220) 0%,rgb(216,216,216) 95%,rgb(226,226,226) 100%);
	background: url('https://d36xtkk24g8jdx.cloudfront.net/bluebar/f0c1312/images/shared/noise-2.png'), linear-gradient(to bottom, rgb(220,220,220) 0%,rgb(216,216,216) 95%,rgb(226,226,226) 100%);

}

	figure.keyboard .key {
		width: 40px;
		height: 40px;
		display: block;
		float: left;
		margin: 5px;
		margin-bottom: 6px;
		color: rgb(80,80,80);
		box-shadow:
			0px 1px 0px rgb(250, 250, 250),
			0px 2px 0px rgb(250, 250, 250),
			0px 3px 0px rgb(250, 250, 250),
			0px 4px 0px 1px rgb(130, 130, 130),
			0px 4px 0px 2px rgb(70, 70, 70);
		background: rgb(249,249,249);
		background: -moz-linear-gradient(top,  rgb(249,249,249) 0%, rgb(239,239,239) 95%, rgb(226,226,226) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,249,249)), color-stop(95%,rgb(239,239,239)), color-stop(100%,rgb(226,226,226)));
		background: -webkit-linear-gradient(top,  rgb(249,249,249) 0%,rgb(239,239,239) 95%,rgb(226,226,226) 100%);
		background: -o-linear-gradient(top,  rgb(249,249,249) 0%,rgb(239,239,239) 95%,rgb(226,226,226) 100%);
		background: -ms-linear-gradient(top,  rgb(249,249,249) 0%,rgb(239,239,239) 95%,rgb(226,226,226) 100%);
		background: linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(239,239,239) 95%,rgb(226,226,226) 100%);

		border-radius: 3px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
		overflow: hidden;
		text-align: center;
		padding-top: 13px;
	}

		/* SIZES */
		figure.keyboard .key-function {
			padding-top: 4px;
			width: 42px;
			height: 20px;
			font-size: 0.9em;
		}

		figure.keyboard .key-size-2 {
			width: 68px;
		}

		figure.keyboard .key-size-3 {
			width: 79px;
		}

		figure.keyboard .key-size-4 {
			width: 104px;
		}

		figure.keyboard .key-size-5 {
			width: 105px;
		}

		figure.keyboard .key-size-6 {
			width: 58px;
		}

		figure.keyboard .key-size-7 {
			width: 291px;
		}

		/* SPECIAL */
		figure.keyboard .key.key-caps-lock:before {
			display: block;
			position: absolute;
			margin-left: 0px;
			margin-top: -10px;
			content: " ";
			width: 5px;
			height: 5px;
			background: rgb(50, 75, 60);
			border-radius: 100%;
		}

		/* STYLES */
		figure.keyboard .key-small-type {
			font-size: 0.5em;
			line-height: 40px;
			vertical-align: bottom;
			text-align: left;
			padding-left: 0.4em;
		}

		figure.keyboard .key-small-type.key-right {
			text-align: right;
			padding-right: 0.4em;
		}

		figure.keyboard .key-function.key-small-type {
			font-size: 0.7em;
			padding-right: 2px;
			padding-top: 2px;
			text-align: center;
			line-height: 18px;
		}

			figure.keyboard .key-function.key-small-type.key-right {
				font-size: 8px;
				padding-top: 5px;
				text-align: right;
			}
figure.keyboard div.clicked {
		animation: myAnimation 0.25s linear alternate;
}
@keyframes myAnimation {
			50% {
						opacity: 25%;			
						transform: translateY(-7px);
						border: 5px solid #fff;
			}
			100% {
						opacity: 100%;			
						transform: translateY(0px);
			}
}
.footer {
			position: relative;
			top: 350px;
			width: 100%;
			background: #101010;
			margin: auto;
			padding: 20px 0px;
			text-align: center;
}
.footer .fsm {
			display: flex;
			margin: auto;
}
.footer .fsm .footer-icon {
			margin: auto;
}
.footer .footer-icon:visited, .footer-icon:link, .footer-icon {
			text-decoration: none;
			color: #fff;
}
.footer .fsm .footer-icon i {
			text-align: center;
			display: flex;
			background: ;	
			color: #191919;
			padding: 7px;
			margin: auto;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background: #f9004d;
			font-size: 30px;
} 
.footer .fsm .footer-icon i:nth-child(5) {
			padding: 8px;
			border-radius: 46%;
}
.footer .cp p {
			font-weight: bolder;
			color: #fff;
}
.footer .cp p span:nth-child(2) {
			color: #337def;
}
.footer .cp p span:nth-child(1) {
			color: #f2ac20;
}
